IS_MUTE=true/false # Default is true, if you want to override the default mute setting, set it to false
IS_DEAF=true/false # Default is false, if you want to mute the bot, set it to true
IS_STREAM=true/false # Default is false, if you want to enable streaming, set it to true
IS_VIDEO=true/false # Default is false, if you want to enable camera, set it to true
STREAM_IMAGE_URL=<Image URL> # Not set to disable streaming preview, set to an image URL to enable streaming preview

# Discord token fomart
DISCORD_TOKEN_<ChannelID>=<Your Discord Token>
DISCORD_TOKEN_<Anything>_<ChannelID 2>=<Your Discord Token 2>
